<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"> Your results for <b>Museums</b>:</h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">

            <a href="portfolio-item.html">
              <% events.forEach((oneEvent)=>{ %>
                <div class="col-md-4 img-portfolio height">
              <img class="img-responsive img-hover photos" src='<%= oneEvent.photoUrl %>'>
            </a>
                <h3> <%= oneEvent.name %> </h3>
                <br>
                <p>  <%= oneEvent.address %>
                     <%= oneEvent.city %>
                     <%= oneEvent.state %>
                     <%= oneEvent.zipcode %>
               </p>
               <p> <%= oneEvent.description %> </p>
               <a href="<%= oneEvent.url %>"><%= oneEvent.url %></a>
               <br><br>
               <p> Category: <%= oneEvent.category %> </p>
             </div>
               <% }); %>
        </div>

        <br><br>
    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>
